/* --------------General----------------------- */
html{
    background-color: hsl(229.29deg 56% 9.8%);
    font-family: "Helvetica Neue", sans-serif;
}
body{
    width: 90%;
    margin: auto;
    color: white;
}
.d-flex{
    display: flex;
}
.ib-pos{
    display: inline-block;
}
.border{
    border: 1px solid white;
}
.mb{
    margin-bottom: 2px;
}
.col-white{
    color: white;
}
.full-width{
    width: 100%;
}


/* =============================MAIN SECTION=============================== */
main{
    display: inline-block;
    width: 70%;
    margin-left: 4.75%;
}
/* --------------Header section---------------- */

/* navbar*/
header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

#logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:25%;
}

#logo-container img{
    height: 61px;
    width: auto;
    border-radius: 2.5rem;
    margin-right: 1rem;
    max-height: 6rem;
    max-width: 18rem;
}

#logo-container p>a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}

#nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12183F;
    width: 50%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.search-box i,input{
    background-color: transparent;
}

.search-box input{
    border: 0;
    padding: 0.2rem;
    margin-left: 0.3rem;
    margin-left: 0.3rem;
    height: 1.1rem;
    width: 80%;
    line-height: 1;
    font-weight: 900;
}

.search-box input:focus{
    outline: none;
}

#profile-pic{
    border-radius: 50%;
    height: 100%;
    width: 3rem;
}

/* --------------carasoul section---------------- */
#carasoule{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for carasoule 3d-effect */
#slider{
    position: relative;
    width: 50%;
    height: 23vw;
    margin: 30px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
}

#slider input[type=radio]{
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0px 15px 0px 0px;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
    display: none;
}

#slider input[type=radio]:nth-child(3){
    margin-right: 0px;
}

#slider input[type=radio]:checked{
    opacity: 1;
}

#slider label, #slider label img{
    position: absolute;
    left: 0;
    top: 0;
    height: 95%;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 400ms ease;
}

#s1:checked ~ #slide-1,
#s2:checked ~ #slide-2,
#s3:checked ~ #slide-3{
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide-2,
#s2:checked ~ #slide-3,
#s3:checked ~ #slide-1{
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide-3,
#s2:checked ~ #slide-1,
#s3:checked ~ #slide-2{
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}


/* --------------latest release section---------------- */
#latest-release-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.latest-col{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    width: 38%;
    margin: 3px 5px;
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.lr-img{
    position: relative;
    height: 6rem;
    width: 6rem;
    background-image: url(images/latest_release/latest-release-onism.jpg);
    background-size: cover;
    margin-right: 1rem;
}

.song-name{
    color: #FCFCFD;
    font-size: 0.8rem;
    font-weight: 800;
}

.song-date{
    color: #E2E3E5;
    font-size: 0.7rem;
}

.more-details-container{
    align-self: baseline;
    margin: 0 auto !important;
    margin-right: 0 !important;
}

.more-details {
    color: #93A9B2;
    font-size: 0.8rem;
}

.time {
    color: #8D8C93;
    font-size: 0.6rem;
}

.latest-release-play-btn {
    position: absolute;
    height: 0;
    overflow: hidden;
    color: white;
    top: 3rem;
    left: 3rem;
}

.latest-release-pause-btn {
    position: absolute;
    height: 0;
    overflow: hidden;
    color: white;
    top: 2rem;
    left: 2rem;
}

.lr-img:hover .latest-release-play-btn{
    height: 1rem;
    cursor: pointer;
}

/* --------------Popular-Artist section---------------- */
#popular-artist-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#popular-artist-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.7rem;
}

.pa-img-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 15%;
    height: 11rem;
    cursor: pointer;
}

.pa-img-container p{
    font-size: 0.8rem;
}

.pa-img{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.pa-img>a{
    position: relative;
    top: 50%;
    height: 0;
    display: none;
    overflow: hidden;
    color: white;
}

.pa-img>a>i{
    color: white;
}

.pa-img:hover>a {
    height: 4rem;
    display: inline;
}

.pa-img:hover {
    opacity: 0.7;
    color: white;
}

#pa-img-1{
    background-image: url(images/popular_artist/bruno-mars.jpg);
}
#pa-img-2{
    background-image: url(images/popular_artist/charlie-puth.jpg);
}
#pa-img-3{
    background-image: url(images/popular_artist/cold-play.jpg);
}
#pa-img-4{
    background-image: url(images/popular_artist/ed-sheeran.jpg);
}
#pa-img-5{
    background-image: url(images/popular_artist/imagine-dragon.jpg);
}
#pa-img-6{
    background-image: url(images/popular_artist/zayn.jpg);
}


/* --------------Gener section---------------- */
#gener-container{
    display: flex;
    flex-direction: column;
}

/* #gener-container img{
    height: 7rem;
    width: 7rem;
} */

#gener-container-1, #gener-container-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

#gener-container-1{
    background-color: #12183F;
    height: 8rem;
    align-items: center;
}

#gc-2{
    background-image: url(images/gener/chill.jpg);
}
#gc-3{
    background-image: url(images/gener/love.jpg);
}
#gc-4{
    background-image: url(images/gener/workout.jpg);
}
#gc-5{
    background-image: url(images/gener/pop.jpg);
}
#gc-6{
    background-image: url(images/gener/retro.png);
}
#gc-7{
    background-image: url(images/gener/rock.jpg);
}

#gener-container-1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 10%;
    height: 75%;
    background-size: cover;
    background-position: center;
}

.station-para{
    font-size: 0.9rem;
    font-weight: bold;
    backdrop-filter: blur(1.1px);
    color: white;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

#gc-1{
    background-image: url(images/gener/stations-img.png);
    border-radius: 0% !important;
    width: 20% !important;
    height: 90% !important;
}

.ge-img{
    display: flex;
    background-image: url(images/gener/party.jpg);
    background-size: 100% 100%;
    background-position: center;
    width: 30%;
    height: 9rem;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
}

.ge-img:hover{
    background-size: 120% 120%;
}

#gener-img-2{
    background-image: url(images/gener/electronic.jpg);
}

#gener-img-3{
    background-image: url(images/gener/road-trip.jpg);
}

.ge-img p{
    font-size: 1.3rem;
}


/* =============================ASIDE SECTION=============================== */
aside{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}