/* --------------General----------------------- */
html{
    background-color: hsl(229.29deg 56% 9.8%);
}
body{
    width: 90%;
    margin: auto;
    color: white;
}
.d-flex{
    display: flex;
}
.ib-pos{
    display: inline-block;
}
.border{
    border: 1px solid white;
}
.mb{
    margin-bottom: 2px;
}

/* =============================MAIN SECTION=============================== */
main{
    display: inline-block;
    width: 70%;
    margin-left: 4.75%;
}
/* --------------Header section---------------- */

/* navbar*/
nav{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

#logo-container a{
    display: inline-block;
    height: inherit; 
    vertical-align: middle;
}

#logo-container a img{
    height: inherit;
    width: 10rem;
}

#nav-menu{
    display: flex;
    justify-content: space-around;
}

#nav-menu a{
    display: inline-block;
    height: inherit; 
    vertical-align: middle;
}

#profile-pic{
    border-radius: 50%;
    height: 100%;
}

/* --------------carasoul section---------------- */


/* =============================ASIDE SECTION=============================== */
aside{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}