/* --------------------General----------------------- */
html{
    background-color: hsl(229.29deg 56% 9.8%);
    font-family: "Helvetica Neue", sans-serif;
}
body{
    width: 90%;
    margin: auto;
    color: white;
}
.border{
    border: 1px solid white;
}
.col-white{
    color: white;
}


/* --------------------Header Section----------------------- */
header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

#logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:22%;
}

#logo-container img{
    height: 61px;
    width: auto;
    border-radius: 2.5rem;
    margin-right: 1rem;
    max-height: 6rem;
    max-width: 18rem;
}

#logo-container p>a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}

#nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12183F;
    width: 50%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.search-box i,input{
    background-color: transparent;
}

.search-box input{
    border: 0;
    padding: 0.2rem;
    margin-left: 0.3rem;
    margin-left: 0.3rem;
    height: 1.1rem;
    width: 80%;
    line-height: 1;
    font-weight: 900;
}

.search-box input:focus{
    outline: none;
}

#profile-pic{
    border-radius: 50%;
    height: 100%;
    width: 3rem;
}


/* --------------------Main Section----------------------- */
main{
    width: 70%;
    display: inline-block;
    height: 5vh;
    margin: 1%;
    margin-left: 4%;
}

#main-banner-container{
    display: flex;
}

#main-banner-container div{
    margin: 0;
    height: 100%;
}

#banner-img-container{
    width: 40%;
    overflow: hidden;
    object-fit: contain;
}
#banner-img-container>img{
    width: 100%;
    height: 100%;
}

#banner-content-container{
    width: 60%;
    height: 100%;
}

/* --------------------Aside Section----------------------- */
aside{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: 5vh;
    margin: 1%;
}

aside div{
    height: 50%;
}